.about2-info {
  background-image: url('https://images.unsplash.com/photo-1603847734351-116f83527eca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
  position: absolute;
  top: 50px;
  left: 30px;
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  padding: 20px;
  animation-name: about2box;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 5s;
}

@keyframes about2box {
  from {transform: translateY(0px)}
  to {transform: translateY(300px)}
}